<!-- Content of this HTML is common to all pages.
It consists of a navigation bar with logo, 
clicking on which navigates to home page.  -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a routerLink="/movieHome" routerLinkActive="active">
                  <img src="/assets/logo/logo.png">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- Router Outlet -->
<router-outlet></router-outlet>
