<!-- Home page for the task app: Displays task list -->

<!-- This HTML houses the TaskList component -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="panel" id="outer-panel">
        <div class="panel-body">

          <div class="container-fluid">
            <div class="row">
              <div style="max-width:100%;height:auto;">
                <div class="col-xs-2">
                  <!-- Dialog box pops open on clicking logo -->
                  <img title="Create New Task" id="main-logo" (click)="openDialog()" src="/assets/logo/PlanIt.png">
                  <hr>
                </div>
              </div>
              <div class="col-xs-8 col-xs-offset-1" style="text-align:center">
                <!-- Conditional display of task list based on length of input array -->
                <!-- Display list that is part of child component -->
                <app-task-list [taskList]="taskList"></app-task-list>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
