/* Applying suitable background color to main panel */

#outer-panel {
  background-color: rgba(82, 44, 35, 0.897);
  margin-top: 10%;
  height: 60vh;
}

/* Eliminates default background of logo image */

#main-logo:hover {
  background-color: rgba(82, 44, 35, 0);
  cursor: pointer;
  margin-right: 10px;
}

/* Vertical hr */

hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 50vh;
  width: 1px;
  margin-top: -180px;
  margin-right: -50px;
}
