/* Imports required for dialog box and font respectively */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/css?family=Actor);

/*Applying suitable background to page*/
body {
  background: url(https://www.desktopbackground.org/download/1600x1200/2015/12/26/1063376_full-hd-wallpapers-backgrounds-brown-wood_1920x1200_h.jpg) repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Formatting the dialog box */
.mat-dialog-container {
  background: linear-gradient(to bottom right, rgb(183, 110, 0), rgb(153,77,0))/* rgb(203,162,63);*/
} 

/* Applying suitable color to submit button while adding a task */

#btn-submit {
  background-color: black;
  border-color: black;
}

/* Applying suitable color **when hovered** to submit button while adding a task */

#btn-submit:enabled:hover {
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
}

/* Applying padding to cells in table view for a neater look */

th,
td {
  padding: 5px;
}

/* Here we use angular validation CSS classes */

/* Field borders turn red when touched and invalid */

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border-color: red;
  border-width: 2px;
}

/* Field borders turn green when touched and invalid */

input.ng-touched.ng-valid,
select.ng-touched.ng-valid,
textarea.ng-touched.ng-valid {
  border-color: green;
  border-width: 2px;
}
