/*Applying suitable background color to page*/

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background: url(https://www.desktopbackground.org/download/1600x1200/2015/12/26/1063376_full-hd-wallpapers-backgrounds-brown-wood_1920x1200_h.jpg) repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Formats text inside the navigation bar on top */

/* .navbar-inverse .navbar-nav>li>a {
  font-weight: bold;
  font-size: medium;
} */

/* Applying suitable color to submit button while adding a movie */

#btn-submit {
  background-color: black;
  border-color: black;
}

/* Applying suitable color **when hovered** to submit button while adding a movie */

#btn-submit:enabled:hover {
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
}

/* Styling the movie search bar */

#search {
  width: 25%;
  margin-left: 75%;
  font-size: 12px;
}

/* Applying padding to cells in table view for a neater look */

th,
td {
  padding: 5px;
}

/* Here we use angular validation CSS classes */

/* Field borders turn red when touched and invalid */

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border-color: red;
  border-width: 2px;
}

/* Field borders turn green when touched and invalid */

input.ng-touched.ng-valid,
select.ng-touched.ng-valid,
textarea.ng-touched.ng-valid {
  border-color: green;
  border-width: 2px;
}
